@import url('../weather/__pressure/weather__pressure.css');
@import url('../weather/__temp/weather__temp.css');
@import url('../weather/__time/weather__time.css');
@import url('../weather/__title/weather__title.css');
@import url('../weather/__wind/weather__wind.css');
@import url('../weather/__type/weather__type.css');
@import url('../weather/__logo/weather__logo.css');


.weather{
    display: block;
    padding: 0;
    list-style-type: none;
    text-align: center;
    margin-top: 60px;

}
