.body-style{
    display: block;
    padding-bottom: 100%;
    background: linear-gradient(90deg, lightskyblue, #b3dbd3, #f4d6db);
    font-family:sans-serif, "Times New Roman", "Arial";
    font-size: 16px;
    color:#D2691E;
    max-width: 1440px;
    margin: 0 auto;

}